* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
}

.header-top {
    padding: 20px 0;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    color: white;
}

.address {
    list-style: none;
}

.links {
    /* display: flex;
    text-align: right; */
    position: absolute;
    right: 100px;
    top: 20px;
}

.link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-link {
    list-style: none;
}

.list-link a {
    color: #fff;
    margin-right: 30px;
    font-size: 15px;
}

.logo img {
    max-width: 100%;
    padding: 20px;
}

.nav-row {
    background-color: #fff;
    align-items: center;
    padding-left: 30px;
}

.navbar {
    justify-content: space-around;
    margin-right: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.navigation .item a {
    padding: 33px 30px 26px;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

ul li a:hover {
    background: rgba(29, 42, 59, .1);
}

.dropdown a {
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.dropdown ul li a:hover {
    background: rgba(29, 42, 59, .1);
}

.hero-section {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    color: #fff;
}

.hero {
    padding-top: 300px;
    padding-bottom: 235px;
    margin-bottom: 50px;
}

.heading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
}

.heading-text h1 {
    font-size: 75px;
    color: #fff;
    margin-bottom: 12px;
    line-height: 85px;
    font-weight: 500;
}

.heading-text p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
}

.discover-btn {
    display: inline-block;
    font-size: 15px;
    background: #fff;
    color: black;
    padding: 14px 32px 12px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.filter-form {
    /* margin-bottom: -60; */
    /* position: relative;
    bottom: 0px;
    left: 0; */
    width: 100%;
    position: relative;
    right: 0;
    bottom: 120px;
}

.back-color {
    background-color: #fff;
}

.filter-col {
    display: flex;
}

.filter-item {
    margin-bottom: 20px;
    width: calc(27.33% - 130px);
    float: left;
    padding: 28px 0 10px;
    position: relative;
    text-align: center;
}

.filter-item input {
    text-align: center;
}

.submit-btn {
    font-size: 15px;
    color: #fff;
    background: #4657f0;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    width: 18%;
    height: 120px;
    position: relative;
    right: -1px;
}