.grid-container {
    display: grid;
    grid-template-areas: 'header header header header header header'
        'main main main main menu menu'
        'footer footer footer footer menu menu';
    gap: 10px;
    text-align: center;
}

.grid-item1 {
    grid-area: header;
    border: 1px solid black;
    padding: 50px;
}

.grid-item2 {
    grid-area: main;
    border: 1px solid black;
    padding: 50px;
}

.grid-item3 {
    grid-area: menu;
    border: 1px solid black;
    padding: 50px;
}

.grid-item4 {
    grid-area: footer;
    border: 1px solid black;
    padding: 50px;
}