* {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 'left header header header header right'
        'menu menu main footer right1 left1'
        'G1 G1 G2 G3 G3 G4'
        'G5 G5 G5 G5 G5 G5';


    gap: 10px;
    padding: 50px;
    border: 1px solid black;

}

.grid-item1 {
    grid-area: left;
    border: 1px solid black;
    padding: 50px;
}

.grid-item2 {
    grid-area: right;
    border: 1px solid black;
    padding: 50px;
}

.grid-item3 {
    grid-area: header;
    border: 1px solid black;
}

.grid-item4 {
    grid-area: menu;
    border: 1px solid black;
}

.grid-item5 {
    grid-area: main;
    border: 1px solid black;
    grid-row: 2/4;
}

.grid-item6 {
    grid-area: footer;
    border: 1px solid black;
}

.grid-item7 {
    grid-area: right1;
    border: 1px solid black;
}

.grid-item8 {
    grid-area: left1;
    border: 1px solid black;
    grid-column: 6/7;
}

.grid-item9 {
    grid-area: G1;
    border: 1px solid black;
}

.grid-item10 {
    grid-area: G2;
    border: 1px solid black;
    grid-row: 2/4;
}

.grid-item11 {
    grid-area: G3;
    border: 1px solid black;
}

.grid-item12 {
    grid-area: G4;
    border: 1px solid black;
}

.grid-item13 {
    grid-area: G5;
    border: 1px solid black;

}






.grid-container>div {
    border: 1px solid black;
    padding: 50px;
    gap: 10px;
}