* {
    padding: 0;
    margin: 0;
}

.container {
    width: 800px;
    height: 500px;
    border: 5px solid black;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.item,
.item1 {
    border: 5px solid black;
    margin: 5px;
    width: 30.33%;
    border-radius: 10px;
}

.item2 {
    height: 200px;
}